/LS-SSDD-v1.0-OPEN
/alex_notebooks/raw_data/
/alex_notebooks/images/
/alex_notebooks/annotations/
/alex_notebooks/annotations_yolo/
/alex_notebooks/main

/sean_notebooks/images/
/sean_notebooks/annotations/
/sean_notebooks/annotations_yolo/
/sean_notebooks/main
/sean_notebooks/test/
/sean_notebooks/train/

/yolov7
/data
