/LS-SSDD-v1.0-OPEN
/alex_notebooks/raw_data/
/alex_notebooks/images/
/alex_notebooks/annotations/
/alex_notebooks/annotations_yolo/
/alex_notebooks/main

/sean_notebooks/data/images/
/sean_notebooks/data/annotations/
/sean_notebooks/data/annotations_yolo/
/sean_notebooks/data/main
/sean_notebooks/data/test/
/sean_notebooks/data/train/
/sean_notebooks/data
/sean_notebooks/offshore_onshore_models


/sar-ship-detection
/wandb

/yolov7
/yolov7_trained
/data
